# Log files
*.log
*.log-*
error_log

# Dotenv
.env
.env.*
!.env.example

# WP-CLI
wp-cli.local.yml

# Project files
*.sublime-*
.idea/
.ideas/
sftp-config.json
*.un~
.*.swp
.vscode/

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Misc
.DS_Store
**/.DS_Store
__MACOSX/
**/__MACOSX/
ehthumbs.db
Thumbs.db
*.sql

# Unit testing files
wp/
wp-content/

# Node modules
node_modules
node_modules/

# Project specific ignores
composer-vendor/bin
vendor/bin
vendor/phpunit
vendor/yoast
cshp-plugin-tracker.zip

# Ignore Composer require-dev vendor folders but don't ignore the vendor folder since Composer
# is not always available in the environment that we load the plugin
vendor/automattic/vipwpcs
vendor/php-parallel-lint/php-console-highlighter
vendor/php-parallel-lint/php-parallel-lint
vendor/phpcompatibility/php-compatibility
vendor/phpcsstandards/phpcsdevtools
vendor/phpunit/phpunit
vendor/dingo-d/wp-pest-integration-test-setup
vendor/dealerdirect/phpcodesniffer-composer-installer
vendor/composer/composer
vendor/ext-json
vendor/ext-zip
vendor/yoast/phpunit-polyfills
vendor/yoast/yoastcs
vendor/phpstan/phpstan
vendor/phpstan/phpstan-symfony
vendor/squizlabs/php_codesniffer
vendor/zenstruck/console-test
vendor/pestphp/pest
vendor/pestphp/pest-dev-tools
vendor/pestphp/pest-plugin-type-coverage
vendor/symfony/process
vendor/wp-coding-standards/wpcs
